@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Source Sans Pro';
}

body {
    background-color: #fbc1ce;
}

/*Index*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > .t1 {
    margin-top: 30%;
}

header > h1 {
    color: #FE355A;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

header > #here {
    color: #FE355A;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px; 
    
}

header > p {
    margin-top: 9rem;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

header > a {
    background-color: #FE355A;
    color: #fbc1ce;
    text-decoration: none;
    margin-top: 9rem;
    border-radius: 15px;
    padding: .2rem 1rem;
}

header > a:hover {
    color: white;
}

header > a:active {
    position: relative;
    top: 1px;
}
/*home*/